{% extends "page.twig" %}

{% block beforecommands %}
	<p>We'll now upload your changes to GitHub and create a pull request.
	<input type="button" onclick="start_commands();" value="Start" />
	</p>
{% endblock %}
